<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.tl</key>
	<string>eight.tl.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.tl</key>
	<string>five.tl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.tl</key>
	<string>four.tl.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.tl</key>
	<string>nine.tl.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.tl</key>
	<string>one.tl.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.1</key>
	<string>p.1.glif</string>
	<key>p.10</key>
	<string>p.10.glif</string>
	<key>p.2</key>
	<string>p.2.glif</string>
	<key>p.2.copy_1</key>
	<string>p.2.copy_1.glif</string>
	<key>p.2.copy_2</key>
	<string>p.2.copy_2.glif</string>
	<key>p.2.copy_3</key>
	<string>p.2.copy_3.glif</string>
	<key>p.3</key>
	<string>p.3.glif</string>
	<key>p.3.copy_1</key>
	<string>p.3.copy_1.glif</string>
	<key>p.4</key>
	<string>p.4.glif</string>
	<key>p.5</key>
	<string>p.5.glif</string>
	<key>p.6</key>
	<string>p.6.glif</string>
	<key>p.7</key>
	<string>p.7.glif</string>
	<key>p.8.copy_1</key>
	<string>p.8.copy_1.glif</string>
	<key>p.8.copy_1.copy_1</key>
	<string>p.8.copy_1.copy_1.glif</string>
	<key>p.8.copy_1.copy_2</key>
	<string>p.8.copy_1.copy_2.glif</string>
	<key>p.8.copy_1.copy_3</key>
	<string>p.8.copy_1.copy_3.glif</string>
	<key>p.8.copy_1.copy_3.copy_1</key>
	<string>p.8.copy_1.copy_3.copy_1.glif</string>
	<key>p.8.copy_2</key>
	<string>p.8.copy_2.glif</string>
	<key>p.8.copy_2.copy_1</key>
	<string>p.8.copy_2.copy_1.glif</string>
	<key>p.9</key>
	<string>p.9.glif</string>
	<key>p.9.copy_1</key>
	<string>p.9.copy_1.glif</string>
	<key>p_.8</key>
	<string>p_.8.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.tl</key>
	<string>seven.tl.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.tl</key>
	<string>six.tl.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.tl</key>
	<string>three.tl.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.tl</key>
	<string>two.tl.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.tl</key>
	<string>zero.tl.glif</string>
</dict>
</plist>
